body{
    font-family: Arial, sans-serif;
}
.main3 h3{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    color: #263244;
    padding-top: 100px;
}
.main3img {
    width: auto;
    height: 520px;
    background: url("../img/main3bg.jpg") center/cover no-repeat;
    margin-top: 85px;
}
.main3text{
    padding-top: 120px;
    text-align: center;
}
.zagolovoktext{
    font-weight: bold;
    color: #cf7600;
    font-size: 18px;
    padding-bottom: 20px;
}
.zagolovokimg{
    padding-bottom: 17px;
}
.main3text1{
    padding-top: 145px;
    text-align: center;
}
.main3text p{
    color: #3f495a;
}
@media (max-width: 991px){
    .main3text{
        padding-top: 10px;
    }
}